.G-carrito-compras{
    background-color: #f4eadc;
    border-radius: 18px;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0 22px 24px;
    min-width: 600px;
    max-width: 700px;
    font-weight: bold;
}

.G-carrito-compras .G-carrito{
    position: absolute;
    bottom: -35px;
    right: -35px;
}

.G-carrito-compras h1{
    font-weight: bold;
    margin: 16px;
}

.G-item-carrito{
    margin: 6px 0;
    padding: 16px;
    display: flex;
}

.G-item-img-carrito{
    border-radius: 100%;
    border: 2px solid black;
    width: 136px;
    height: 136px;
    min-width: 136px;
    min-height: 136px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.G-informacion-carrito{
    background-color: white;
    border: 1px solid black;
    margin-left: 36px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 20px;
}

.G-informacion-carrito div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.G-informacion-carrito p{
    display: flex;
    text-align: justify;
    margin: 0;
}

.G-action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}