.G-default {
    width: 100%;
}

.G-productos {
    margin-top: 40px;
}

.G-productos:first-child {
    margin: 0;
}

.G-productos h2{
    margin: 0;
    padding: 20px 0;
}

.G-productos .G-contenedor {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    /* margin-bottom: 56px;
    margin-top: 12px; */
}

.G-productos article{
    border: 1px solid #000;
    flex-shrink: 0; 
    text-align: center;
}

.G-productos article img{
    border-bottom: 1px solid #000;
}

.G-productos .G-informacion{
    font-weight: bold;
    text-decoration: none;
    margin: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.G-productos .G-informacion p{
    margin: 8px;
}

.G-flecha{
    position: absolute;
    top: 50%;
    right: -100px;
    cursor: pointer;
    padding: 0.6%;
    border: none;
    background: transparent;
    margin-top: -22px;
}