* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-width: 1024px;
}
.G-nav{
    background-color: #e7d29c;
    align-items: center;
    display: flex;
    font-size: small;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
}

.G-nav a {
    color: black;
    width: 100%;
    flex: 1;
    text-align: center;
    font-size: 22px;
    /* margin-left: 55px; */
    font-weight: bold;
}

.G-selected-text{
    color: #ff9700;
}

.G-selected-btn{
    background-color: #f8b94e !important;
}

.G-logo, .G-right-buttons {
    min-width: 104px;
    padding-right: 46px;
    justify-content: end;
}
.G-logo {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.G-right-buttons {
    display: flex;
}

.G-right-buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.G-right-buttons button span {
    font-size: 42px;
    color: black;
}

.G-center {
 width: 100%;
 display: flex;
}

.G-nav-buttons {
    display: flex;
    width: 100%;
    padding: 0 5%;
}

.G-cont-buscador{
    display: flex;
    align-items: center;
    min-width: 50%;
}

.G-buscador {
    position: relative;
    width: 80%;
}

#G-buscador-input{
    width: 100%;
    border-radius: 18px;
    padding: 10px 39px 10px 10px;
    outline: none;
}

.G-lupa{
    position: absolute;
    border: none;
    right: 5px;
    width: 39px;
    height: 39px;
    background: transparent;
    cursor: pointer;
}

.G-menu-container {
    position: relative; 
    display: inline-block;
}

#G-menu-list {
    display: none;
    position: absolute;
    top: 66px;
    right: 8px;
    padding: 10px 8px;
    border-radius: 12px;
    background-color: #f2efef;
    border: 1px solid black;
    z-index: 1000;
    min-width: 138px;
}

#G-menu-list a {
    position: relative;
    right: 6px;
    display: block;
    margin: 4px;
    padding: 2px;
    font-size: large;
    color: black;
    text-decoration: none;
    background: white;
}

#G-menu-list a:hover {
    background-color: #f1f1f1;
}

.G-carrito{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    right: 15px;
    bottom: 64px;
    padding: 0;
    display: flex;
}

.G-carrito span {
    font-size: 40px;
    background: black;
    color: white;
    border-radius: 100%;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.G-btn{
    background-color: #f8b94e;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #f8b94e;
    padding: 0 28px;
    height: 42px;
    /* margin: 4%; */
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

footer{
    background-color: #e7d29c;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding: 14px;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0
}