.G-recont{
    background-color: #f4eadc;
    border-radius: 18px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    min-width: 350px;
    padding: 10px 0;
    
}

.G-recont h1 {
    width: 350px;
}

.G-recont form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.G-recont form > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}

.G-recont form button {
    width: auto;
    margin-top: 10px;
}

.G-input-form{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    border-color: white;
    padding: 16px;
    width: 100%;
    border: 1px solid black;
}

.G-pw-box{
    position: relative;
    max-width: 440px;
}

.G-ojo{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
    width: 25px; 
    height: auto;
    cursor: pointer;
    z-index: 10;
}